<!doctype html>

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/normalize.css">
		<link rel="stylesheet" href="/static/style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,600,400italic,300italic,300,800italic,600italic,700' rel='stylesheet' type='text/css'>
	</head>
	<body>

	<div class="border">
		<h1>Testa dig. Hur mycket kan du om</h1><div class="rotating_text">fotboll?</div>
	

	<div class="container">
					{% for quiz_slug, quiz in quizzes.items %}
						<div class="box">
							<div class="row">
								<div class="column">
									<div style="background-image: url('/static/{{quiz.image}}')" class="circular"></div>
								</div>
								<div class="column">
									<h2>{{quiz.name}}</h2>
									<p>{{quiz.description}}</p>
									<p><a href="{% url "quiz_page" quiz_slug %}">Starta</a></p>
								</div>
							</div>
							{% endfor %}
					
						</div>
	</div>
	</div>


<!-- 
	<div class="container">
		<div class="row">
			<div class="column">

				<div class="wrapper">
		
					<div class="header">
						<h1>Vem är bäst på Lorem ipsum. </h1>
					</div>

					<div class="container">
					{% for quiz_slug, quiz in quizzes.items %}
						<!--<div class="box">
							<div class="row">
								<div class="column">
									<div style="background-image: url('/static/{{quiz.image}}')" class="circular"></div>
								</div>
								<div class="column">
									<h2>{{quiz.name}}</h2>
									<p>{{quiz.description}}</p>
									<p><a href="{% url "quiz_page" quiz_slug %}">Starta</a></p>
								</div>
							</div>
							{% endfor %}
					
				</div>
		 -->
				<!-- <div class="container">
					
							<div class="column">
								<h2>Namn på Quiz 1</h2>
								<!--<img src="http://placekitten.com/g/200/300">-->


								<!--<div style="background-image: /static/{{quiz.image}})" class="circular"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </p>
								<button type="button">Starta </button>
							</div>
							
							<div class="column">
								<h2>Namn på Quiz 2</h2>
								<div class="circular"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </p>
								<button type="button">Starta </button>

							</div>

 -->

<!-- 						
					</div>
				</div>
		</div>
</div>
	</div>
</div> -->
					

	</body>

</html> 