<!doctype html>

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="column">

	<div class="wrapper">
		
		<div class="header">
			<h1>Vem är bäst på Lorem ipsum. </h1>
		</div>
				<div class="container">

					<div class="row">
							<div class="column">
								<h2>Namn på Quiz 1</h2>
								<!--<img src="http://placekitten.com/g/200/300">-->
								<div class="circular"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </p>
								<button type="button">Starta </button>
							</div>
							
							<div class="column">
								<h2>Namn på Quiz 2</h2>
								<div class="circular"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </p>
								<button type="button">Starta </button>

							</div>



						
					</div>
				</div>
		</div>
</div>
	</div>
</div>
					

	</body>

</html> 