<!doctype html>

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/normalize.css">
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
	<div class="border">

		<div class="container">
			<div class="row">
				<div class="column">

					<div class="wrapper">
						<div class="header">
							<h1>{{ question_number }} . {{ question }}</h1>
						</div>
				
						<form action="{% url "question_page" quiz.slug question_number %}" method="post">
							{% csrf_token %}
							<p>
								<div class="radio">
									<input type="radio" name="answer" value="1"><label for="1">{{ answer1 }}</label>
									
								</div>
							</p>

							<p>
								<div class="radio">
									<input type="radio" name="answer" value="2"><label for="2">{{ answer2 }}</label>
					
								</div>
							</p>

							<p>
								<div class="radio">
									<input type="radio" name="answer" value="3"><label for="3">{{ answer3 }}</label>
								</div>
							</p>
							<button type="submit">Nästa ></button>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
				

	</body>

</html> 