<!doctype html>

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>

	<div class="container">
		<div class="row">
			<div class="column">

				<div class="wrapper">
					<div class="header">
						<h1>F  </h1>
					</div>
			
					<form>
						<input type="radio" name="alternative" value="1">Val 1 <br>
						<input type="radio" name="alternative" value="2">Val 2 <br>
						<input type="radio" name="alternative" value="2">Val 3 <br>
					</form>

					<button>Starta</button>
				</div>
			</div>
		</div>
	</div>
				

	</body>

</html> 